.person-info {
    display: flex;
    align-items: center;
}

.logos {
    display: flex;
    margin-right: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    
}

.person-name {
    margin: 0;
}