
.App {
  text-align: center;
}

.App-header {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  height: 300px;

}

.App-main {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0101;
  color: white;
  padding: 10px;
  height:50px;
 
}
.ttt{
  height:60px;
  width:200px;
}
.img1{
  width: 100%;
  height: 290px;;
}
.Profile-container {
  display: flex;
  justify-content:first baseline;
  align-items: flex-start;
}

.Profile-header {
  flex: 1;
  text-align: left;
}

.Profile-image {
  width: 200px;
  height: 200px;
  top: 180px;
  margin-left: 20px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.Profile-content {
  flex: 2;
  text-align: left;
}
.YellowBox{
  background-color: yellow;
  padding: 10px;
  border-radius: 10%;
 color: #0d0101; 
}

.caption{
  color:grey;
  font-size: 25px;
}